APP_ENV=development
APP_URL=http://localhost:8080
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=fitness_lemon
DB_USER=root
DB_PASS=04088222596Zz
JWT_SECRET=change-me-in-production-please
JWT_TTL=86400
UPLOAD_DIR=/var/www/api.fitnesslemon.ru/uploads
FCM_API_KEY=
STORY_LIFETIME_HOURS=24
